<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.hellojihyun.cordova.plugin.M7StepCounter"
    version="1.0.0">

    <name>M7StepCounter Plugin for Cordova iOS</name>
    <description>M7StepCounter</description>
    <license>Apache 2.0</license>
    <keywords>M7 Step Counter, iOS</keywords>	
    
    <engines>
        <engine name="cordova" version=">=2.2.0" />
    </engines>
	
    <asset src="www/M7StepCounter.js" target="plugins/M7StepCounter.js" />

	<js-module src="www/M7StepCounter.js" name="M7StepCounter">
    	<clobbers target="window.M7StepCounter" />
	</js-module>
	
    <!-- ios -->
    <platform name="ios">
        <!-- feature tag in config.xml -->
        <config-file target="config.xml" parent="/widget">
          <feature name="M7StepCounter">
            <param name="ios-package" value="CDVM7StepCounter"/>
          </feature>
        </config-file>
        
        <header-file src="src/ios/CDVM7StepCounter.h" />
        <source-file src="src/ios/CDVM7StepCounter.m"/>
        
        <!-- frameworks -->
        <framework src="CoreMotion.framework" />
    </platform>
</plugin>
